@import "../../../styles/variables";

.Select {
    // width: 10em;
    height: 2.3em;
    text-align: center;
    border: 1px solid green;
    border-radius: 0.5em;
    margin-right: 1em;
    margin-bottom: 2%;
}