@import "../../../styles/_flexBox";
@import "../../../styles/variables";

.page__wrap {
    margin-top: 30px;
    width: 30%;
    button:first-child {
        margin-right: 4%;
    }
    @media screen and (max-width: 750px) {
        width: 65%;
    }
    @media screen and (max-width: 400px) {
        font-size: smaller;
    }
}

