@import "./_flexBox.scss";
@import "./_variables.scss";

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $fontColor;
    text-decoration: none;
}
.App {
    width: 100%;
    background: $backgroundColor;
    .bold {
        font-weight: 600;
    }
    .home {
        width: 100%;
    }
}