@import "../../../styles/_flexBox";
@import "../../../styles/variables";

.MyListView {
    background-color: $boxViewBackgroundColor;
    width: 75%;
    height: 6rem;
    margin: 1em 5em;
    border-radius: 0.5em;
    display: flex;
    color: black;
    justify-content: space-between;

    @media screen and (max-width:1100px) {
        height: 7rem;
        width: 90%;
    }

    h3, p {
        padding-right: 5px;
    }

    .ListInfo {
        padding: 0 0 0 2em;
        display: flex;
        width: 64%;
        align-items: center;
        @media screen and (max-width: 1000px) {
            width: 56%;
        }

        .ListInfoDetail {
            width: 40%;
        }
        .Location {
            height: 15px;
        }
        @media screen and (max-width: 1000px) {
            font-size: smaller;
        }
    }

    .ListImg {
        width: 140px;
        height: 100%;
        padding: 0 0 0 2em;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        @media screen and (max-width: 1000px) {
            width: 180px;
        }
    }
} 

