@import "../../styles/variables";

main {
    .main__content {
        width: 100%;
        .main__listing {
            width: 100%;
            .countries__list {
                width: 100%;
                margin: 0 2%;
            }
        }
        .main__content__filter {
            width: 100%;
            margin: 0 5%;
    
            @media screen and (max-width: 600px) {
                justify-content: center;
            }
            
            .filter {
                width: 100%;
                margin: 0 5em;

                .list, .grid {
                    border: 1px solid $buttonColor;
                    width: 2.5em;
                    height: 2.3em;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 0.5em;
                }
            }
            
        }
    }
    .pagination__content {
        width: 100%;
    }
}





