@import "../../styles/variables";
@import "../../styles/flexBox";

.header__content {
    h1 {
        padding: 5vh 5vw;
        cursor: pointer;
        width: 100%;
        @media screen and (max-width:500px) {

            text-align: center;
            font-size: smaller;
            justify-content: center;
        }
    }
}